@tailwind base;
@tailwind components;
@tailwind utilities;

.user-drag-none {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

@layer base {
    html {
        @apply h-full w-full;
    }

    body {
        @apply h-full w-full font-ubuntu antialiased;
    }

    main#root {
        @apply relative flex h-full w-full flex-col bg-gradient-to-b from-[#111] to-black;
    }
} 
