@tailwind base;
@tailwind components;
@tailwind utilities;

.user-drag-none {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

@layer base {
  html {
    @apply h-full;
  }
  body {
    @apply relative h-full scroll-smooth font-ubuntu text-muted antialiased;
  }
  ::-webkit-scrollbar {
    @apply h-2 w-3 bg-[#111];
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-nyanza-200;
  }
}

@layer components {
  main#root {
    @apply relative flex min-h-screen flex-col bg-[#111];
  }
}
