@tailwind base;
@tailwind components;
@tailwind utilities;

.user-drag-none {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

@layer base {
  html {
    @apply h-full;
  }

  body {
    @apply relative h-full font-ubuntu text-muted antialiased;
  }

  main#root {
    @apply relative z-50 flex min-h-screen flex-col bg-[#111];
  }
}
